@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

@font-face {
  font-family: 'Museo Sans 700';
  font-weight: 700;
  src: url(/assets/Fonts/MuseoSans_700/MuseoSans_700.otf) format('otf'),;
}
@font-face {
  font-family: 'Lucida Console Regular';
  src: url(/assets/Fonts/Lucida_Console_Regular/Lucida_Console.ttf) format('ttf');
}
body {
  background-color: #FF98C9;
}

header {
  background-image: url(/assets/images/donuttello_grid.png);
}

.overlay{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  background: black;
  z-index: -2;
}

#main-menu {
display: block;
height: 100px;
width: 100%;
margin: 0px;  
z-index: 9;
}

#main-menu ul {
max-width: 800px;
width: 100%;
height: 100%;
margin: 0px auto;
padding: 0px;
display: flex;
justify-content: space-evenly;
z-index: 9;
}

#main-menu li {
list-style-type: none;
font-size: 2rem;
}

#main-menu a {
color: #ffffff;
font-size: 1.5rem;
text-decoration: none;
}

#main-menu a:hover {
text-decoration: underline;
}

#hamburger-input{
display: none;
}

#hamburger-menu {
  position: absolute;
  top: 50px;
  right: 20px;
  width: 40px;
  height: 30px;
  display: none;
  border: none;
  padding: 0px;
  margin: 0px;
  font-family: 'Cabin', Sans-serif;
  background: linear-gradient(
    to bottom, 
    #1d1d1d, #1d1d1d 20%, 
    #F8F594 20%, #F8F594 40%, 
    #1d1d1d 40%, #1d1d1d 60%, 
    #F8F594 60%, #F8F594 80%, 
    #1d1d1d 80%, #1d1d1d 100%
  );
}

#hamburger-menu #sidebar-menu {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: -250px;
  
  width: 200px;
  height: 100%;
  background-color: #F8F594;
  transition: 0.3s;
  padding: 0px 10px;
  box-sizing: border-box;
}



#hamburger-menu ul {
padding-left: 0px;
}

#hamburger-menu li {
list-style-type: none;
line-height: 3rem;
}

#hamburger-menu a {
color: #1d1d1d;
font-size: 1.3rem;
text-decoration: none;
}


#hamburger-input:checked + #hamburger-menu #sidebar-menu {
  visibility: visible;
  left: 0;
}
#hamburger-input:checked ~ .overlay{
 visibility: visible;
opacity: 0.4;
}

@media screen and (max-width: 750px) {
  #main-menu {
    display: none;
  }
  #hamburger-menu {
    display: inline;
  }
}

section {
  background-image: url(/assets/images/hero_image.png);
  background-size: cover;
  margin-left: 15px;
  margin-right: 15px;
  height: 300px;
}

section h1 {
  color: #ffffff;
  font-size: 2rem;
  text-align: center;
  padding-top: 60px;
}

section p {
  color: #ffffff;
  font-size: 1.2rem;
  margin: auto;
  text-align: center;
  width: 70%;
  margin-top: -10px;
}

.question__buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

section a {
  background-color: #F8F594;
  padding: 1em;
  border: 2px solid white;
  color: black;
  text-decoration: none;
}

.intro {
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 60px;
}

.intro h2 {
  font-size: 1.5rem;
  padding-bottom: 20px;
}

.bestellen {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  background-color: #F8F594;
  padding: 1em;
  border: 2px solid white;
  color: black;
  text-decoration: none;
}

footer {
  background-color: white;
  margin-top: 50px;
  padding: 20px;
  text-align: center;
}


/*mobile*/
/*put .order form in the middle of a 1080px wide screen*/
.order_form {
  margin: 50px;
  width: 989px;
  height: 1808px;
  left: 46px;
  top: 225px;
  background: #C4C4C4;
  /* Windows 95 Button */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E;
}
.container {
  display: inline-grid;
  grid-template-columns: 50px 355px  335px  250px;
  grid-template-rows: 50px 100px 100px 100px 50px 100px 100px;
  grid-template-areas: 
    ". . . ."
    ". customer_name glazuur logo"
    ". donut glazuur  logo"
    ". donut topping status"
    ". donut topping status"
    ". aantal  email ."
    ". aantal  email .";
  /*background-color: #7E7E7E;*/
  }

.donut {
  width: 70%;
  height: 70%;
  grid-area: donut;
  /*position: relative;
  top: 60px;
  left: 40px;*/
}
.customer_name {
  grid-area: customer_name;
  font-size: 2.25em;
  font-family: 'Museo Sans 700', 'Lucida Console Regular', monospace; 
  /*position: relative;
  top: 60px;
  left: 40px;*/
}
.glazuur {
  grid-area: glazuur;
  /*position: relative;
  top: 60px;
  left: 40px;*/
}
.glazuur-thing{
  font-size: 1.625em;
  font-family: 'Lucida Console Regular', monospace;
}
.glazuur-title{
  font-size: 2.25em;
  font-family: 'Museo Sans 700', 'Lucida Console Regular';
}
.topping {
  grid-area: topping;
  /*position: relative;
  top: 60px;
  left: 40px;*/
}
.topping-thing{
  font-size: 1.625em;
  font-family: 'Lucida Console Regular',monospace;
}
.topping-title{
  font-size: 2.25em;
  font-family: 'Museo Sans 700', 'Lucida Console Regular', monospace;
}
.aantal {
  grid-area: aantal;
  /*position: relative;
  top: 60px;
  left: 40px;*/
}
.aantal-thing{
  font-size: 1.625em;
  font-family: 'Lucida Console Regular', monospace;
}
.aantal-title{
  font-size: 2.25em;
  font-family: 'Museo Sans 700', 'Lucida Console Regular', monospace;
}
.email {
  grid-area: email;
  /*position: relative;
  top: 60px;
  left: 40px;*/
}
.email-title{
  font-size: 2.25em;
  font-family: 'Museo Sans 700', 'Lucida Console Regular', monospace;
}
.email-thing{
  font-size: 1.625em;
  font-family: 'Lucida Console Regular', monospace;
}
.status {
  grid-area: status;
  /*position: relative;
  top: 60px;
  left: 40px;*/
}
.status-thing{
  font-size: 1.625em;
  font-family: 'Lucida Console Regular', monospace;
}
.status-title{
  font-size: 2.25em;
  font-family: 'Museo Sans 700', 'Lucida Console Regular', monospace;
}
.logo {
  grid-area: logo;
  /*position: relative;
  top: 60px;
  left: 40px;*/
  width:  50% ;
  height: 50%;
}
.logo-title{
  font-size: 2.25em;
  font-family: 'Museo Sans 700', 'Lucida Console Regular', monospace;
}


